@CHARSET "UTF-8";
.all{
	width:70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 100px;
	margin-bottom:100px;
	text-align: center;
}
.head span{
	font-size: 30px;
}
.head{
	margin-bottom: 30px;
}
.body_userinfor span{
	font-size: 18px;
}
.body_userinfor{
	margin-bottom: 30px;
}
.thead_logininfor{
	font-size: 17px;
}