.bookmark_information_head{
	font-size: 40px;
}
.blogo{
	margin-left: 40%;
	left: -20px;
}
#setp_quicklogin{
	width: 60%;
	margin-left: 20%;
	margin-top: 150px;
}
#setp_quicklogin > span{
	font-size: 30px;
}
#setp_quicklogin > ul{
	margin-top: 10px;
	margin-bottom: 10px;
}
.ajaxresult{
	color:#FF0000;
	font-size:25px;
}